
@{
    ViewBag.Title = "Barren Wildlands";
    ViewBag.Active = "WorldMap";
}

<div class="row">
    <div class="col-12">
        <h2>Barren Wildlands @Html.ActionLink("Back to map", "WorldMap", "DandD", null, new { @class = "btn btn-primary pull-right" })</h2>
        <hr />
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <img src="~/Content/images/maps/BarrenWildlands.png" class="img-fluid" alt="Barren Wildlands" />
    </div>

</div>
