@{
    ViewBag.Title = "Home Page";
    ViewBag.Active = "Home";
}

<div class="row jumbotron">

    <div class="col-3">
        <img alt="DungeonsAndDragonsLogo" title="DungeonsAndDragonsLogo" src="~/Content/images/DandDLogo.png" class="img-fluid" />
    </div>

    <div class="col-9">
        <h1 class="display-4">D&amp;D For Noobs</h1>
        <hr/>
        <p class="lead">Just a bunch of friends playing the game of Dungeons &amp; Dragons.</p>
    </div>
    
</div>

<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item list-group-item-secondary">
                <h3><i class="fas fa-dice-d20 fa-xs"></i> Group 1 <small>( Campaign completed )</small></h3>
            </li>
            <li class="list-group-item">Arthur Ooghe <small>(DM)</small></li>
            <li class="list-group-item">Arne Vanderstraeten <small>(Adoril)</small></li>
            <li class="list-group-item">Pablo Degryse <small>(Yenros)</small></li>
            <li class="list-group-item">Milan Mestdag <small>(Leonan)</small></li>
            <li class="list-group-item">Michiel Room <small>(Schmirnoff)</small></li>
        </ul>
    </div>

    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item list-group-item-secondary">
                <h3><i class="fas fa-dice-d20 fa-xs"></i> Group 2</h3>
            </li>
            <li class="list-group-item">Arthur Ooghe <small>(DM)</small></li>
            <li class="list-group-item">Arne Vanderstraeten <small>(Corben)</small></li>
            <li class="list-group-item">Lucas Van Eenoo <small>( <i class="fas fa-cross" title="Deceased"></i> Umdri - Clyde)</small></li>
            <li class="list-group-item">Emma Dejonghe <small>( <i class="fas fa-cross" title="Deceased"></i> Legeril - Gryn)</small></li>
            <li class="list-group-item">Laura Delabie <small>(Heleyra)</small></li>
        </ul>
        
    </div>

    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item list-group-item-secondary">
                <h3><i class="fas fa-dice-d20 fa-xs"></i> Group 3</h3>
            </li>
            <li class="list-group-item">Arne Vanderstraeten <small>(DM)</small></li>
            <li class="list-group-item">Arthur Ooghe <small>(Celes)</small></li>
            <li class="list-group-item">Pablo Degryse <small>(Hattak)</small></li>
            <li class="list-group-item">Milan Mestdag <small>(Gerkip)</small></li>
            <li class="list-group-item">Michiel Room <small>(Maximus)</small></li>
            <li class="list-group-item">Siebe Verbrugghe <small>(Levander)</small></li>
            <li class="list-group-item">Jonathan Casters <small>(Galathil)</small></li>
        </ul>
    </div>
</div>