
@{
    ViewBag.Title = "Iona";
    ViewBag.Active = "WorldMap";
}

<div class="row">
    <div class="col-12">
        <h2>Iona @Html.ActionLink("Back to map", "WorldMap", "DandD", null, new { @class = "btn btn-primary pull-right" })</h2>
        <hr />
    </div>
</div>

<div class="row mb-3">
    <div class="col-4">
        <img src="~/Content/images/maps/Iona_Cities.jpg" class="img-fluid" alt="Iona cities" />
    </div>

    <div class="col-4">
        <img src="~/Content/images/maps/Iona_Landscape.jpg" class="img-fluid" alt="Iona landscape" />
    </div>

    <div class="col-4">
        <img src="~/Content/images/maps/Iona_Nobles.jpg" class="img-fluid" alt="Iona nobles" />
    </div>
   
</div>
