
<div class="row">
    <div class="col-10 ml-auto mr-auto ">
        <h2>Contact</h2>
        <h4>Feel free to contact me!</h4>
        <p>
            <a href="mailto:vanderstraeten.arne@hotmail.com">vanderstraeten.arne@hotmail.com</a>
        </p>
        <ul class="list-inline banner-social-buttons">
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/arnevanderstraeten" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-linkedin-square fa-fw"></i> <span class="network-name">LinkedIn</span></a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.facebook.com/Arry2000" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
            </li>
            <li class="list-inline-item">
                <a href="https://twitter.com/ArryAV" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.youtube.com/channel/UCW_WEApjy5jKxxEmVtxWBeg" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-youtube-play fa-fw"></i> <span class="network-name">YouTube</span></a>
            </li>
            <li class="list-inline-item">
                <a href="https://plus.google.com/u/0/101240124423521586404" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-google-plus-official fa-fw"></i> <span class="network-name">Google+</span></a>
            </li>
            <!-- Skype?, GitHub/BitBucket?, ...-->
        </ul>
    </div>
</div>
