@model int

<div class="row">
    <div class="col-12">
        <h1>About me: Professional</h1>
        <p>I'm a @Model year old IT guy from Langemark, Belgium.</p>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <h4>My experience</h4>
        <p>
            I graduated as a Computer & Cyber Crime Professional, a bachelors degree in the Applied Informatics,
            from the <a href="http://www.howest.be" title="Howest website" target="_blank">Howest</a> University in Bruges (Belgium).
        </p>
        <p>
            In the last year of my education, I was allowed to do an internship as a security auditor at a Belgian SME.
            During that period, I learned a lot about analyzing corporate networks and how to make them more efficient and secure.
            It also gave me some real life programming and webdesign experience.
        </p>
        <p>
            Currently I'm employed at a Belgian company called
            <a href="http://www.crefius.com" title="Crefius website" target="_blank">Crefius</a>,
            as a member of their IT Infrastructure team.
        </p>
    </div>
    <div class="col-6">
        <h4>My goals</h4>
        <p>
            Since I was a little, I have always wanted to help people and I have always had an interest in the ICT world.
        </p>
        <p>
            Nowadays I go and combine both things by helping others with problems they're facing,
            whether they need help choosing or building a new computer or they want me to perform a full checkup of their device.
        </p>
        <h5>Some of the things I often do:</h5>
        <ul style="color: white;" class="list-unstyled">
            <li>Building custom computers (gaming or otherwise) or helping people decide which system(s) to buy</li>
            <li>Computer security and health check-ups</li>
            <li>Creating and/or designing websites</li>
            <li>Creating and/or designing applications</li>
            <li>Setting up (secure) home or business networks</li>
            <li>A lot of other stuff</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h5>My latest resume can be viewed <a href="~/Content/files/CV-Arne.pdf" title="CV" target="_blank">here</a> <small>(For the moment it's only in Dutch)</small></h5>
    </div>
</div>