@{
    ViewBag.Title = "Contact";
    ViewBag.Active = "Home";
}

<div class="row">
    <div class="col-12">
        <h1>Contact</h1>
        <h2>Feel free to contact me!</h2>
        <p>
            <a href="mailto:vanderstraeten.arne@hotmail.com"><i class="fa fa-envelope"></i> vanderstraeten.arne@hotmail.com</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        
        <a href="https://www.linkedin.com/in/arnevanderstraeten" class="btn btn-outline-primary btn-lg" target="_blank"><i class="fa fa-linkedin-square fa-fw"></i> LinkedIn</a>
        <a href="https://www.facebook.com/Arry2000" class="btn btn-outline-primary btn-lg" target="_blank"><i class="fa fa-facebook fa-fw"></i> Facebook</a>
        <a href="https://twitter.com/ArryAV" class="btn btn-outline-primary btn-lg" target="_blank"><i class="fa fa-twitter fa-fw"></i> Twitter</a>
        <a href="https://www.youtube.com/channel/UCW_WEApjy5jKxxEmVtxWBeg" class="btn btn-outline-primary btn-lg" target="_blank"><i class="fa fa-youtube-play fa-fw"></i> YouTube</a>
        <a href="https://plus.google.com/u/0/101240124423521586404" class="btn btn-outline-primary btn-lg" target="_blank"><i class="fa fa-google-plus-official fa-fw"></i> Google+</a>
        
    </div>
</div>

<div class="row">
    <div class="col-12">
        Google Map goes here ...
    </div>
</div>