
@model string

@{
    ViewBag.Title = "HappyBirthday";
}

<section class="container content-section">

    @if (Model != null && Model.ToLower().Equals("joyce"))
    {
        <div class="row">
            <div class="col-12">
                <h1>Hey @Model, have a happy birthday !!!</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <img style="width:100%; height:100%" src="~/Content/images/birthday.png" />
            </div>
            <div class="col-md-4">
                <img style="width:100%; height:100%" src="~/Content/images/birthdayVodka.jpg" />
            </div>
            <div class="col-md-4">
                <img style="width:100%; height:100%" src="~/Content/images/birthdayWine.jpg" />
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <hr />
                <h4>Enjoy your day/week of celebration. I wish you the best of luck. We'll have a drink on it another time :)</h4>
            </div>
        </div>

        <div class="row">
            
            <div class="col-md-6">
                <img style="width:100%; height:100%" src="~/Content/images/JoyceArryTribFest.jpg" />
            </div>
            <div class="col-md-6">
                <hr />
                <h5>Ooh look ... our one picture together :p <br />All the way back from TribFest</h5>
                
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr />
                <h3>And last but not least, I've found this (not sure how either)</h3>

                <div class="embed-responsive embed-responsive-16by9">                
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YEXkxjOOalI" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    P.S.: Still waiting for you to come and clean/wash my car :p
                    <br />
                    Just kidding, it's fine xD
                </p>
            </div>
        </div>
    }
    else if(Model != null && Model.ToLower().Equals("emma"))
    {
        <div class="row">
            <div class="col-12">
                <h1>Hey @Model, have a happy birthday !!!</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <img style="width:100%; height:100%" src="~/Content/images/birthdayNoReminder.png" />
            </div>
            <div class="col-md-8">
                <h5>Here's our Groezie back from 2016</h5>
                <img class="img-fluid" src="~/Content/images/Groezie 2016.jpg" />
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>Yeah, as you mentioned one time ... we really don't have any good picture of us together ... We're gonna need to fix that some time soon I guess</p>
                <hr />
                <h4>I wish you the best of luck. Enjoy your day/week of celebration!</h4>
                <h5>BTW: we still got a lot of movies to watch, music to share, concerts to attend, fun to have and lots more !!!</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    I also used all of my skills and found some lovely <b>pictures of you</b>, both online AND offline
                    <br />
                    Myself, I really love that last one :)
                    <br />
                    Now, when you are ready for a little trip down memory lane... press the button below
                </p>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#emmsPicturesModal">
                    Enter mini-timemachine
                </button>

                <div class="modal fade" id="emmsPicturesModal" style="color: black;">
                    <div class="modal-dialog modal-lg" >
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Emms' pictures</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body p-0">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img class="img-fluid" src="~/Content/images/EmmsKong.jpg" title="My boyfriend" />
                                        </div>
                                        <div class="col-md-6">
                                            <img class="img-fluid" src="~/Content/images/EmmaAndLiseOldie.jpg" title="All the way back to 2011" />
                                        </div>
                                        <div class="col-md-6">
                                            <img class="img-fluid" src="~/Content/images/EmmasOldie.jpg" title="This one is older I think" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />

            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    P.S.: Unfortunately, we're not going to Efteling this time ... maybe we can do that when we have some free time again someday :p
                </p>
            </div>
        </div>
    }
    else
    {
        <h1>Happy birthday @Model</h1>
        <h2>No special content for you on this page, unfortunately :p</h2>
    }

</section>
