@model string

@{
    ViewBag.Title = "Arne Vanderstraeten";
    ViewBag.Active = "Home";
}

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-10 ml-auto mr-auto">
                    <img src="~/Content/images/av.png" alt="AV Logo" title="My logo" class="img-fluid ml-auto mr-auto" style="height: 15em">
                    <h1 class="brand-heading">Arne Vanderstraeten</h1>
                    <p class="intro-text">Welcome to my personal website!</p>
                    <a href="#professional" class="btn btn-circle page-scroll">
                        <i class="fas fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="professional" class="container content-section text-center">

    @Html.Action("Professional")

</section>

<section id="personal" class="content-section text-center">
    
    @Html.Action("Personal")

</section>

<section id="contact" class="container content-section text-center">

    @Html.Action("Contact")

</section>

<div id="map"></div>



@section scripts {
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@Model"></script>

    <script>
        var map = null;
        var myLatLng = new google.maps.LatLng(50.9312148, 2.9170681);

        function init() {
            var mapOptions = {
                zoom: 15,
                center: myLatLng,
                // Disables the default Google Maps UI components
                disableDefaultUI: true,
                scrollwheel: false,
                draggable: false,

                // Style found on Snazzy Maps.
                styles: [{
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 17
                    }]
                }, {
                    "featureType": "landscape",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 20
                    }]
                }, {
                    "featureType": "road.highway",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 17
                    }]
                }, {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 29
                    }, {
                        "weight": 0.2
                    }]
                }, {
                    "featureType": "road.arterial",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 18
                    }]
                }, {
                    "featureType": "road.local",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 16
                    }]
                }, {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 21
                    }]
                }, {
                    "elementType": "labels.text.stroke",
                    "stylers": [{
                        "visibility": "on"
                    }, {
                        "color": "#000000"
                    }, {
                        "lightness": 16
                    }]
                }, {
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "saturation": 36
                    }, {
                        "color": "#000000"
                    }, {
                        "lightness": 40
                    }]
                }, {
                    "elementType": "labels.icon",
                    "stylers": [{
                        "visibility": "off"
                    }]
                }, {
                    "featureType": "transit",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 19
                    }]
                }, {
                    "featureType": "administrative",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 20
                    }]
                }, {
                    "featureType": "administrative",
                    "elementType": "geometry.stroke",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 17
                    }, {
                        "weight": 1.2
                    }]
                }]
            };

            var mapElement = document.getElementById('map');

            map = new google.maps.Map(mapElement, mapOptions);

            var contentString = '<div id="mapInfo" style="color:black">' +
                '<h3 class="mb-0">Home</h3>' +
                '<address>' +
                'Galgestraat 25<br />' +
                '8920 Langemark<br />' +
                '</address>' +
                '</div>';


            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            var image = '../Content/images/map-marker.png';
            var mark = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: image,
                title: 'Home'
            });

            mark.addListener('mouseover', function () {
                infowindow.open(map, mark);
            });
            mark.addListener('mouseout', function () {
                infowindow.close();
            })

        }

        // When the window has finished loading create our google map below
        google.maps.event.addDomListener(window, 'load', init);
        google.maps.event.addDomListener(window, 'resize', function () {
            map.setCenter(myLatLng);
        });

    </script>
}