@using Personal.App_Code

@{
    ViewBag.Title = "Home Page";
    ViewBag.Active = "Home";
}

<header class="intro">
    <div class="intro-body">
        <div class="row">
            <div class="col-12 mb-4">
                <img src="~/Content/images/av.png" alt="AV Logo" title="My logo" class="img-responsive" style="margin-left: auto; margin-right: auto; height: 15em">
                <h1 class="brand-heading">Arne Vanderstraeten</h1>
                <p class="intro-text">Welcome to my personal website!</p>
                @Html.ActionLinkWithFontAwesomeIcon("", "About", "Home", null, new { @class = "btn btn-circle" }, "fa-angle-double-down animated")
            </div>
        </div>
    </div>
</header>
