@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="row">
    <div class="col-12">
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>
        
        <h3>at @Model.ControllerName/@Model.ActionName</h3>
        <pre class="bg-danger">
            @Model.Exception.ToString()
        </pre>
    </div>
</div>

